name: Workflow for BZZ Programming Lessons using Github-Classroom and Moodle

on: push

permissions:
  checks: write
  issues: write
  actions: read
  contents: read

jobs:
  if: ${{ !contains(github.actor, 'classroom') && !contains(github.event.head_commit.message, 'NOACTION') }}
  grading:
    if: ${{ !contains(github.actor, 'classroom') }}
    uses: BZZ-Commons/pygrader/.github/workflows/py_autograding.yml@main
    secrets: inherit